html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  display: grid;
  grid-template-areas: "intro" "col1" "col2" "col3";
  gap: 6vmin;
  padding: 6vmin;
  background-color: #ff9500;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
}

h2 {
  margin: 0;
  grid-area: intro;
  justify-self: center;
  font-size: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
}

p {
  margin: 0 0 auto;
}

a {
  margin-top: 1.5rem;
  padding: 1rem;
  border: .2rem solid rgba(255, 255, 255, .7);
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover,
a:focus {
  background-color: #fff;
  border-color: #fff;
  color: #ff5e3a;
}

.icon {
  position: relative;
  height: 8em;
  width: 8em;
  margin-bottom: 1.5rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-areas:
      "intro intro intro"
      "col1 col2 col3";
  }

}
